body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#footer {
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 6%;
    text-align: center;
}

#header {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 12%;
    text-align: center;
}

abbr{
    position: absolute;
}

.side-icons {
    position: absolute;
    width: 80px;
    height: 80px;


}


#left {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 10%;
    height: 84%;

}

#middle {
    position: absolute;
    top: 10%;
    width: 80%;
    height: 84%;
    left: 10%;

}

#right {
    position: absolute;
    top: 10%;
    width: 10%;
    height: 84%;
    right: 0%;

}

.item-block {
    width: 100%;
    height: 33.3%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}